* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}
#root > div:first-child {
  height: 30vh;
}
.main-content {
  display: flex;
  z-index:500;
  position: absolute;
  top: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.main-content h1{
	color: white;
}
.main-content form {
  max-width: 80%;
  min-width: 75%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.main-content form input[type='text']{
  border: none;
  flex-basis:90%;
  width: auto;
  padding: 15px;
  border-radius: 10px 0 0 10px;
}

.main-content form button{
  border: none;
  background: #000;
  flex-basis: 20%;
  flex-shrink: 0;
  padding: 25px 10px;
  border-radius: 0 10px 10px 0;
}
.main-content form button{
  background-image: url(./icon-arrow.svg);
  background-clip: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size:25%;
}
.main-content ul {
  text-align: center;
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 75%;
  list-style: none;
}
.main-content .info-banner li {
  display: flex;
  flex-direction: column;
}
.main-content .info-banner .item_title {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 59%);
  display: inline-block;
}
.main-content .info-banner .item_info{
  margin: 0;
  margin-bottom: 20px;
  display: inline-block;
}
.main-content .info-banner .info-banner_item:last-child {
 margin: 0;
}
.bg-image {
  background-image: url(./pattern-bg.png);
  height: 100%;
}
.leaflet-container{
  width: 100%;
  height: 68vh;
}

@media (min-width:1440px){
	.main-content form {
		min-width: 35%;
	}
  .main-content form button {
    background-size: 10%;
  }
  .main-content form input[type='text']{
    border-radius: 15px 0 0 15px;
  }
  .main-content form button {
    border-radius: 0 15px 15px 0;
  }
   .bg-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-content .info-banner {
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: start;
    margin-top: 2%;
    min-height: 130px;
    min-width: 600px;
  }
  .main-content .info-banner li {
    justify-content: start;
    flex-basis: 25%;
  }
  .main-content .info-banner > .info-banner_item {
    border-right: 2px solid #ccc;
    padding: 0 25px;
    height: 100px;
  }
  .main-content .info-banner > .info-banner_item:last-child {
    border-right: none;
  }
  .main-content .info-banner .item_title{
    font-size: 0.7rem;
    font-weight: 500;
    align-self: start;
  }
  .main-content .info-banner .item_info {
    padding-top: 15px;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }
  #root > div:first-child{
    height: 23vh;
  }
  .leaflet-container{
    height: 75.5vh;
  }
}
